.button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    /* font-size: clamp(1.2rem, 1.35vw, 1.35rem); */
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    display: none;
    padding: 0px 4.1vw;
    pointer-events: all;
}

.button:hover {
    text-decoration: underline;
}

.wrap {
    display: inline-block;
    position: relative;
}

.wrap::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.image {
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    height: max(23px, 3.9vh);
    margin-left: 4.1vw;
    pointer-events: all;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (orientation: landscape) {
    .image {
        margin-left: 0.5vw;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    .image {
        margin-left: 1.25vw;
    }
}

@media screen and (min-width: 768px) {
    .image {
        height: 3.3vh;
        min-height: 23px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        display: flex;
    }
    .image {
        height: 3.8vh;
        margin-left: 4.1vw;
    }
}

@media screen and (min-width: 1400px) {
    .image {
        height: 4.3vh;
    }
}

@media screen and (min-width: 1921px) {
    .button {
        /* font-size: clamp(1.2rem, 1.8vh, 1.8rem); */
        font-size: 1.8rem;
    }
}
