.full {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8vw;
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.compact {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
    margin-top: 8vh;
    margin-bottom: 10vh;
}
