.panel {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 4.3vh;
    width: 100vw;
}

.navbarStyle {
    align-items: flex-start;
}

.footerStyle {
    padding-top: 0px;
    padding-bottom: 7.7vh;
    height: 4.3vh;
    align-items: flex-end;
}
