.panel {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 47px;
    width: 100vw;
}

.navbarStyle {
    align-items: flex-start;
}

.footerStyle {
    padding-top: 0px;
    padding-bottom: 77px;
    height: 47px;
    align-items: flex-end;
}
