.footer {
    background-color: transparent;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    display: none;
}

@media screen and (min-width: 992px) {
    .footer {
        display: block;
    }
}

@media (orientation: landscape) and (min-width: 992px) {
    .footer {
        padding-bottom: 7.2vh;
    }
}

@media (orientation: portrait) and (min-width: 992px) {
    .footer {
        padding-bottom: 3.2vh;
    }
}
