.wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 68.6vh;
    padding-top: 8vh;
}

.content {
    width: 47vw;
    height: 30vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 8vh;
}

.description {
    font-size: clamp(1rem, 1.375vw, 1.375rem);
    font-weight: 400;
}

.linkarea {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2em;
    text-transform: capitalize;
    font-size: clamp(1rem, 1.375vw, 1.375rem);
    font-weight: 500;
}

.linkarea a {
    position: relative;
}

.linkarea a:hover {
    text-decoration: underline;
}
