.button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: clamp(1rem, 1.15vw, 1.15rem);
    font-weight: 500;
    text-decoration: none;
    display: none;
    padding: 0px 4.1vw;
    pointer-events: all;
}

.button:hover {
    text-decoration: underline;
}

.image {
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    height: max(23px, 3.9vh);
    margin-left: 4.1vw;
    pointer-events: all;
}

@media (orientation: landscape) {
    .image {
        margin-left: 0.5vw;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    .image {
        margin-left: 1.25vw;
    }
}

@media screen and (min-width: 768px) {
    .image {
        height: 3.3vh;
        min-height: 23px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        display: flex;
    }
    .image {
        height: 3.8vh;
        margin-left: 4.1vw;
    }
}

@media screen and (min-width: 1400px) {
    .image {
        height: 4.3vh;
    }
}
