.panel {
    display: flex;
    justify-content: space-between;
    padding-top: 3.2vh;
    width: 100vw;
    min-height: min(23px, 4.3vh);
}

.navbarStyle {
    align-items: flex-start;
}

.footerStyle {
    align-items: flex-end;
}

@media screen and (min-width: 992px) {
    .panel {
        height: 4.3vh;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }
}
