.navbar {
    padding-top: 7.7vh;
    padding-bottom: 0px;
    background-color: transparent;
    position: fixed;
    /*-12px so it does not cover the scrollbar area - important as the scrollbar
    gets visible on hover*/
    width: calc(100vw - 12px);
}
