.navbar {
    padding-top: 77px;
    padding-bottom: 0px;
    background-color: transparent;
    position: fixed;
    /*-12px so it does not cover the scrollbar area*/
    width: calc(100vw - 12px);
}
