.beige {
    background-color: hsl(30 20% 92% /0.95);
    color: hsl(0 0% 0%);
}
.gray {
    background-color: hsl(0 0% 89% /0.95);
    color: hsl(0 0% 0%);
}

.dark {
    background-color: hsl(0 0% 0% /0.9);
    color: hsl(0 0% 89%);
}

@media screen and (min-width: 992px) {
    .beige,
    .gray,
    .dark {
        background-color: transparent;
    }
}
