.panel {
    display: flex;
    justify-content: space-between;
    height: 6.3vh;
    width: 100vw;
}

.navbarStyle {
    align-items: flex-start;
}

.footerStyle {
    padding-top: 0px;
    padding-bottom: 7vh;
    height: 4.3vh;
    align-items: flex-end;
}

@media screen and (min-width: 992px) {
    .panel {
        height: 4.3vh;
    }
}
