.wrap {
    display: flex;
    justify-content: center;
    width: 60vw;
    top: 3vh;
    margin-top: 43px;
    margin-left: 20vw;
    right: 20vw;
    cursor: pointer;
}

.logo {
    height: 4.3vh;
    width: auto;
}

@media screen and (min-width: 992px) {
    .wrap {
        top: 7vh;
        margin-top: 0;
        padding-top: 0;
    }
    .logo {
        height: 48px;
    }
}
