.wrap {
    display: none;
    justify-content: center;
    width: 60vw;
    z-index: 0;
    position: fixed;
    top: 3vh;
    margin-left: 20vw;
    right: 20vw;
}

.logo {
    height: 43px;
    width: auto;
}

@media screen and (min-width: 992px) {
    .wrap {
        display: flex;
        top: 7vh;
        position: static;
        padding-top: 0;
    }
}
