.wrap {
    display: flex;
    justify-content: center;
    width: 60vw;
    top: 3vh;
    margin-top: 23px;
    margin-left: 20vw;
    right: 20vw;
    cursor: pointer;
}

.logo {
    height: 4.3vh;
    min-height: 32px;
    width: auto;
}

@media (orientation: landscape) and (min-width: 800px) and (aspect-ratio: 812/375) {
    .wrap {
        margin-top: 33px;
    }
}

@media (orientation: landscape) and (min-width: 1200px) {
    .wrap {
        top: 9vh;
        margin-top: 0;
        padding-top: 0;
    }
    .logo {
        height: 48px;
    }
}
