.menu {
    position: fixed;
    padding: 10vh 0;
    margin-top: calc(4.1vh + ((100vh - 600px) / 100 * 0.6));
    /*above is to handle corner case when user opens mobile menu and
    horizontally resizes the page. In that case, background of the <HamburgerMenu/>
    may overlap with the background of <Panel/> inside the <Navbar/> resulting in a
    a dark lining; not very aesthetic. For more, see a note at the end of file.*/

    width: 100%;
    row-gap: 2em;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    display: none;
    z-index: 20;
}

.menu li {
    height: 48px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 6vh 0;
    left: 0;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-transform: capitalize;
    display: flex; /* Use flexbox to center the text */
    justify-content: center;
    align-items: center;
}

.hamburger {
    z-index: 20; /* Set z-index to be higher than the menu */
}

.inactive {
    opacity: 0; /* Hide the menu when inactive */
    pointer-events: none; /* Disable mouse clicks on the menu when inactive */
}

.active {
    display: block;
    opacity: 1; /* Show the menu when active */
    pointer-events: auto; /* Enable mouse clicks on the menu when active */
}

@media screen and (min-width: 992px) {
    .menu {
        display: none;
    }
}

/*
Menu margin formula goes as follows:

(base-value + ((100vh - reference-value) / 100 * correction-factor));

Base-value is the original margin-top value;
Reference-value is the height of the viewport at which I measured the correction value, which in that case is 600px.
Correction-factor is the factor by which the correction value changes for every
1vh change in the viewport height. Here, the correction value decreases by
approx. 0.6 for every 1vh increase in viewport height.
*/
