.menu {
    position: fixed;
    padding: 10vh 0;
    width: 100%;
    row-gap: 2em;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    display: none;
    z-index: 20;
}

.menu li {
    height: 48px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 6vh 0;
    left: 0;
    font-size: clamp(2rem, 2vw, 3rem);
    text-transform: capitalize;
    display: flex; /* Use flexbox to center the text */
    justify-content: center;
    align-items: center;
}

.hamburger {
    z-index: 20; /* Set z-index to be higher than the menu */
}

.inactive {
    opacity: 0; /* Hide the menu when inactive */
    pointer-events: none; /* Disable mouse clicks on the menu when inactive */
}

.active {
    display: block;
    opacity: 1; /* Show the menu when active */
    pointer-events: auto; /* Enable mouse clicks on the menu when active */
}

@media screen and (min-width: 992px) {
    .menu {
        display: none;
    }
}
