.container {
    max-width: 1452px;
    width: calc(100vw - (2 * 12vw));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
