/* General item styling */
.item {
    text-align: center;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    flex-grow: 0;
}

/* Item full-mode styling ---------------------------------------------------*/
/*---Layout------------------------------------------------------------------*/
.full .landscape {
    max-width: 70vw;
    height: auto;
    width: auto;
    margin-bottom: 6vh;
    aspect-ratio: 4/3;
}

.full .portrait {
    max-width: 52.5vw;
    height: auto;
    height: auto;
    margin-bottom: 6vh;
    aspect-ratio: 3/4;
}

@media (orientation: landscape) and (min-width: 560px) {
    .full .landscape {
        max-width: 45vw;
    }
    .full .portrait {
        max-width: 33vw;
    }
}

@media (orientation: portrait) and (min-width: 600px) {
    .full .landscape {
        max-width: 54vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 36vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: portrait) and (min-width: 730px) {
    .full .landscape {
        max-width: 60vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 40vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: landscape) and (min-width: 800px) and (aspect-ratio: 812/375) {
    .full .landscape {
        max-width: 39vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 25.3vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: landscape) and (min-width: 800px) and (aspect-ratio: 4/3) {
    .full .landscape {
        max-width: 54vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 36vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .full .landscape {
        max-width: 54vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 36vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: portrait) and (min-width: 1200px) {
    .full .landscape {
        max-width: 43vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 27vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: landscape) and (min-width: 1368px) {
    .full .landscape {
        max-width: 43vw;
        height: auto;
        width: auto;
    }

    .full .portrait {
        max-width: 27vw;
        height: auto;
        height: auto;
    }
}

/*---Children items----------------------------------------------------------*/
.full:first-child {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
}

.full:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
}

.full:nth-child(3) {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}

@media (orientation: landscape) and (min-width: 730px) {
    .full:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        justify-self: center;
    }

    .full:nth-child(2) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .full:nth-child(3) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        margin-bottom: 0;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .full:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        justify-self: center;
    }

    .full:nth-child(2) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .full:nth-child(3) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        margin-bottom: 0;
    }
}

/* Item compact-mode styling ------------------------------------------------*/
/*---Layout------------------------------------------------------------------*/
.compact .landscape {
    max-width: 41vw;
    height: auto;
    width: auto;
    aspect-ratio: 4/3;
}

.compact .portrait {
    max-width: 41vw;
    height: auto;
    height: auto;
    aspect-ratio: 3/4;
}

@media (orientation: landscape) and (min-width: 560px) {
    .compact .portrait {
        max-width: 28vw;
    }
    .compact .landscape {
        max-width: 28vw;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    .compact .landscape {
        max-width: 32vw;
        height: auto;
        width: auto;
    }

    .compact .portrait {
        max-width: 32vw;
        height: auto;
        height: auto;
    }
}

@media (orientation: landscape) and (min-width: 800px) and (aspect-ratio: 812/375) {
    .compact .portrait {
        max-width: 22vw;
    }
    .compact .landscape {
        max-width: 22vw;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .compact .portrait {
        max-width: 36vw;
    }
    .compact .landscape {
        max-width: 36vw;
    }
}

/*---Children items----------------------------------------------------------*/
.compact:first-child {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
}

.compact:nth-child(2) {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: start;
}

.compact:nth-child(3) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
}

.compact:nth-child(4) {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-self: start;
}

.compact:nth-child(5) {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
}

.compact:nth-child(6) {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    justify-self: start;
}

@media screen and (min-width: 1200px) {
    .compact:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .compact:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .compact:nth-child(3) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .compact:nth-child(4) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .compact:nth-child(5) {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .compact:nth-child(6) {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }
}

@media screen and (min-width: 1200px) {
    .compact .landscape {
        max-width: 21vw;
        height: auto;
        width: auto;
    }

    .compact .portrait {
        max-width: 19vw;
        height: auto;
        height: auto;
    }

    .compact:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        text-align: center;
        justify-self: end;
    }

    .compact:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        justify-self: center;
    }

    .compact:nth-child(3) {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        justify-self: start;
    }

    .compact:nth-child(4) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        justify-self: end;
    }

    .compact:nth-child(5) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        justify-self: center;
    }

    .compact:nth-child(6) {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
        justify-self: start;
    }
}

/* Item mixed-mode styling ------------------------------------------------*/
/*---Layout------------------------------------------------------------------*/
.mixed .landscape {
    max-width: 90vw;
    height: auto;
    width: auto;
    aspect-ratio: 4/3;
    margin-bottom: 6vh;
}

.mixed .portrait {
    max-width: 67.5vw;
    height: auto;
    height: auto;
    aspect-ratio: 3/4;
    margin-bottom: 6vh;
}

/*---Children items----------------------------------------------------------*/
.mixed:first-child {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
}

.mixed:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
}

.mixed:nth-child(3) {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .mixed .landscape {
        max-width: 32vw;
        height: auto;
        width: auto;
        align-self: center;
        margin-bottom: 0;
    }

    .mixed .portrait {
        max-width: 32vw;
        height: auto;
        height: auto;
        align-self: center;
        margin-bottom: 0;
    }

    .mixed:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        justify-self: end;
        align-self: center;
    }

    .mixed:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        justify-self: start;
        align-self: center;
    }

    .mixed:nth-child(3) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        justify-self: end;
        align-self: center;
    }

    .mixed:nth-child(4) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        justify-self: start;
        align-self: center;
    }

    .mixed:nth-child(5) {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
        justify-self: end;
        align-self: center;
    }

    .mixed:nth-child(6) {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
        justify-self: start;
        align-self: center;
    }
}

@media screen and (min-width: 1200px) {
    .mixed:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .mixed:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .mixed:nth-child(3) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .mixed:nth-child(4) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .mixed:nth-child(5) {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .mixed:nth-child(6) {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }
}

@media screen and (min-width: 1366px) {
    .mixed .landscape {
        max-width: 21vw;
        height: auto;
        width: auto;
    }

    .mixed .portrait {
        max-width: 19vw;
        height: auto;
        height: auto;
    }

    .mixed:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        text-align: center;
        justify-self: end;
    }

    .mixed:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        justify-self: center;
    }

    .mixed:nth-child(3) {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        justify-self: start;
    }

    .mixed:nth-child(4) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        justify-self: end;
    }

    .mixed:nth-child(5) {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        justify-self: center;
    }

    .mixed:nth-child(6) {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
        justify-self: start;
    }
}
