.navbar {
    padding-top: 3.2vh;
    padding-bottom: 0px;
    position: fixed;
    width: 100vw;
    z-index: 30;
}

@media screen and (min-width: 992px) {
    .navbar {
        padding-top: 7.2vh;
        background-color: transparent;
    }
}
