.wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    /*needed to display custom scrollbar*/
    height: -webkit-fill-available;
    height: stretch;
}
