.active {
    display: block;
}

.inactive {
    display: none;
}

.general {
    right: 0;
    margin-right: 4.1vw;
    padding-top: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (orientation: landscape) {
    .hamburger {
        margin-right: 0.5vw;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    .hamburger {
        margin-right: 1.25vw;
    }
}

@media screen and (min-width: 992px) {
    .hamburger {
        margin-right: 4.1vw;
    }
}

.hamburger {
    display: inline-block;
    position: fixed;
    height: 48px;
    width: 48px;
    padding: 0 12px;
    z-index: 40;
}

.hamburger span {
    filter: invert(1);
    display: block;
    flex-direction: column;
    height: 2px;
    width: 100%;
    margin-bottom: 6px;
    justify-content: space-evenly;
    align-items: center;
}

.hamburger.active span:nth-child(1) {
    display: block;
    flex-direction: column;
    height: 2px;
    width: 100%;
    margin-bottom: 8px;
    justify-content: space-evenly;
    align-items: center;
    transform: rotateY(180deg) rotateZ(45deg) translate(7px, 7px);
}

.hamburger.active span:nth-child(2) {
    display: block;
    flex-direction: column;
    height: 2px;
    width: 100%;
    margin-bottom: 8px;
    justify-content: space-evenly;
    align-items: center;
    transform: scaleX(0);
}

.hamburger.active span:nth-child(3) {
    display: block;
    flex-direction: column;
    height: 2px;
    width: 100%;
    margin-bottom: 8px;
    justify-content: space-evenly;
    align-items: center;
    transform: rotateY(180deg) rotateZ(-45deg) translate(7px, -7px);
}

@media screen and (min-width: 992px) {
    .general {
        display: none;
    }
}
